<div class="row" ng-controller="NotificationsCtrl">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="page-header">Bildirimler</h1>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="notification in notifications | orderBy: '-id'">
        <h4>{{ notification.attributes.title }}</h4>

        <p class="pull-right">
          {{ notification.attributes.created_at }}
        </p>

        <p>
          {{ notification.attributes.content }}
        </p>
        <br />
      </li>
    </ul>

  </div>
</div>
