<div class="row" ng-controller="ProfileCtrl">
  <div class="col-md-12">
    <div class="col-md-6">
      <img gravatar-src="user.email" gravatar-size="300" class="img-rounded">
    </div>

    <div class="col-md-6">
      <h1>Profilim</h1>

      <h3>{{ user.attributes.email }}</h3>
      <b>Kayıt tarihi:</b> {{ user.attributes.created_at }}
      <hr />

      <ul class="nav nav-pills">
        <li role="presentation">
          <a ui-sref="history">İşlem Geçmişim</a>
        </li>
        <li role="presentation">
          <a ui-sref="notifications">Bildirimlerim</a>
        </li>
      </ul>
    </div>
  </div>
</div>
