<div class="row" ng-controller="UsersCtrl">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="page-header">Kayıt Ol</h1>

    <div class="panel panel-danger" ng-show="errors">
      <div class="panel-heading">
        <h3 class="panel-title">Aşağıdaki hatalardan dolayı devam edilemiyor:</h3>
      </div>

      <div class="panel-body">
        <ul>
          <li ng-repeat="error in errors">
            {{ error }}
          </li>
        </ul>
      </div>
    </div>

    <form ng-submit="addUser()" method="POST">
      <div class="form-group">
        <label for="user[email]">Email adresiniz</label>
        <input ng-model="user.email" type="email" class="form-control" id="attributes[email]" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="user[password]">Parolanız</label>
        <input ng-model="user.password" type="password" name="password" id="attributes[password]" class="form-control" placeholder="Parola">
      </div>
      <div class="form-group">
        <label for="user[password_confirmation]">Parola Tekrar</label>
        <input ng-model="user.password_confirmation" type="password" name="password_confirmation" id="attributes[password_confirmation]" class="form-control" placeholder="Parola">
      </div>
      <a ui-sref='login'>Giriş Yap</a>
      <button type="submit" class="btn btn-default">Devam</button>
    </form>


  </div>
</div>
