<div class="col-md-6" ng-controller="OrdersCtrl">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h1 class="panel-title">
        <i class="glyphicon glyphicon-transfer"></i>
        &nbsp;
        Son Emirler
      </h1>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Emir Tipi</th>
              <th><i class="glyphicon glyphicon-bitcoin"></i></th>
              <th><i class="fa fa-turkish-lira" style="font-size:18px"></i></th>
              <th>Emir Tarihi</th>
            </tr>
          </thead>
          <tbody>
            <tr class="{{ order.tr_class }}" ng-repeat="order in orders | orderBy: '-id' ">
              <td>
                {{ order.attributes.order_status }}
              </td>

              <td>
                {{ order.attributes.amount }}
              </td>

              <td>
                {{ order.attributes.price }}
              </td>

              <td>
                {{ order.attributes.created_at }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
