<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">İşlem Geçmişim</h1>
  </div>

  <div class="col-md-6" ng-controller="OrderHistoryCtrl">
    <h3>Emir Geçmişi</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Emir Tipi</th>
            <th><i class="glyphicon glyphicon-bitcoin"></i></th>
            <th>Fiyat</th>
            <th>Emir Tarihi</th>
            <th>
              &nbsp;
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="{{ order.tr_class }}" ng-repeat="order in orders | orderBy: '-id' ">
            <td>
              {{ order.attributes.order_status }}
            </td>

            <td>
              {{ order.attributes.amount }}
            </td>

            <td>
              {{ order.attributes.price }}
            </td>

            <td>
              {{ order.attributes.created_at }}
            </td>

            <td>
              <span>
                <button class="btn btn-xs btn-danger" ng-click="cancelOrder(order.id)" ng-show="order.is_active">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  Emir İptal
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6" ng-controller="TransactionHistoryCtrl">
    <h3>Transfer Geçmişi</h3>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Bakiye</th>
            <th><i class="glyphicon glyphicon-bitcoin" aria-hidden="true"></i></th>
            <th>İşlem Tarihi</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="transaction in transactions">
            <td>
              {{ transaction.attributes.try }}
            </td>

            <td>
              {{ transaction.attributes.btc }}
            </td>

            <td>
              {{ transaction.attributes.created_at }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
