<div class="row">
  <div class="col-md-12">
    <div class="col-md-9" id="graph" ng-controller='ChartCtrl'>
      <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels">
      </canvas>
    </div>

    <div class="col-md-3" ng-controller="usernavCtrl">
      <div class="panel panel-success" ng-controller="WalletCtrl">
        <div class="panel-heading">
          <h1 ng-hide="signed_in" class="panel-title">Selamlar yabancı</h1>
          <h1 ng-show="signed_in" class="panel-title">{{ user.email }}</h1>
        </div>

        <div class="panel-body text-center">
          <span ng-hide="signed_in">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <a ui-sref="login" ui-sref-active="active" class="btn btn-default">Oturum Aç</a>
              <a ui-sref="sign_up" ui-sref-active="active" class="btn btn-default">Kayıt Ol</a>
            </div>
          </span>

          <span ng-show="signed_in">
            <img gravatar-src="user.email" gravatar-size="90" class="img-rounded">

            <br /><br />

            <div ng-controller="NotificationCountCtrl" class="btn-group-vertical col-md-12" role="group" aria-label="...">
              <a ui-sref="notifications" ui-sref-active="notifications" class="btn btn-primary btn-block" type="button">
                Bildirimler <span class="badge">{{ notification_count }}</span>
              </a>
            </div>

            <hr />

            <section ng-controller="MarketStatusCtrl">
              <h3>Market</h3>
              <b>Satış:</b> <i class="fa fa-turkish-lira"></i>{{ market_status.lowest_sell }}<br>
              <b>Alış:</b> <i class="fa fa-turkish-lira"></i>{{ market_status.highest_buy }}
            </section>

            <h3>Cüzdanım</h3>

            <b>TL:</b> {{ user.try_balance }}<br />
            <b>BTC:</b> {{ user.btc_balance }}
          </span>
        </div>

        <div class="panel-footer text-center">
          <a ui-sref='logout' class="btn btn-danger btn-block">Oturumu Kapat</a>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row">
  <ng-include src="'assets/javascripts/market/orders/list.html'"></ng-include>
  <ng-include src="'assets/javascripts/market/transactions/list.html'"></ng-include>
</div>
