<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-3 col-sm-3">
      <a ui-sref="home" ui-sref-active="active" class="btn btn-info btn-block">
        <i class="glyphicon glyphicon-home"></i> Anasayfa
      </a>
    </div>

    <div class="visible-xs"><br></div>
<!--
    <div class="col-lg-2 col-sm-3">
      <a class="btn btn-info btn-block" href="#/market/graphs">
        <i class="glyphicon glyphicon-calendar"></i> Grafikler
      </a>
    </div> -->

    <div class="visible-xs"><br></div>

    <div class="col-lg-3 col-sm-3">
      <a class="btn btn-success btn-block" ui-sref="new_order" ui-sref-active="active">
        <i class="glyphicon glyphicon-plus"></i> Yeni Emir
      </a>
    </div>

    <div class="visible-xs"><br></div>

    <div class="col-lg-3 col-sm-3">
      <a class="btn btn-warning btn-block" ui-sref="profile" ui-sref-active="active">
        <i class="glyphicon glyphicon-user"></i> Profilim
      </a>
    </div>

    <div class="visible-xs"><br></div>

    <div class="col-lg-3 col-sm-3">
      <a class="btn btn-warning btn-block" ui-sref="history" ui-sref-active="active">
        <i class="glyphicon glyphicon-time"></i> İşlem Geçmişim
      </a>
    </div>

    <div class="visible-xs"><br></div>
<!--
    <div class="col-lg-2 col-sm-3">
      <a class="btn btn-primary btn-block" ng-click="show_market_status()">
        <i class="glyphicon glyphicon-plus"></i> Piyasa Durumları
      </a>
    </div> -->
  </div> <!--  end of col lg 12  -->
</div>
